name: Testing - main

on: [push, pull_request]

jobs:
  build:

    strategy:
      max-parallel: 20
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.7, 3.8]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - uses: goanpeca/setup-miniconda@v1
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}
    - name: Conda info
      shell: bash -l {0}
      run: conda info
    - name: Conda list
      shell: pwsh
      run: conda list
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pip --upgrade
        conda config --set always_yes yes --set changeps1 no
        conda install numpy scipy matplotlib sympy cython tensorflow pymatgen
        pip install --quiet -r requirements.txt -r requirements-ci.txt
        conda install -c openbabel openbabel
        conda install -c conda-forge rdkit
        pip install -e .
    - name: pytest
      run: |
        pytest megnet --color=yes
