name: Testing - main

on: [push, pull_request]

jobs:
  build:

    strategy:
      max-parallel: 20
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.7, 3.8]
        exclude:
            - os: macos-latest
              python-version: 3.7

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --quiet -r requirements.txt -r requirements-ci.txt
        pip install -e .
    - name: pytest
      run: |
        pytest megnet --color=yes
